{
  "app": {
    "session": {
      "timeout": 1200
    },
    "log": {
      "log_path": "./logs",
      "logfile_base_name": "heartlake",
      "log_size_limit": 100000000,
      "max_files": 10,
      "log_level": "INFO"
    }
  },
  "db_clients": [
    {
      "name": "default",
      "rdbms": "postgresql",
      "host": "127.0.0.1",
      "port": 5432,
      "dbname": "heartlake",
      "user": "postgres",
      "passwd": "CHANGE_ME_use_strong_random_password",
      "connection_number": 12,
      "timeout": 30
    }
  ],
  "redis_clients": [
    {
      "name": "default",
      "host": "127.0.0.1",
      "port": 6379,
      "passwd": "CHANGE_ME_use_strong_random_password",
      "connection_number": 12
    }
  ]
}
